

.menu {
  background: rgba(220, 220, 220, 0.588);
  border-radius: 12px;
  position: fixed;
  height: 100%;;
  padding: 20px;

  z-index: 900;
  overflow: scroll;
  width: 10em;
  left: 0px;
}

.hiddenMenu{
  max-width: 1.2em;
  overflow: hidden;
  height: unset;
  padding: 8px;
  padding-left: 8px;
}

.content{
  margin-left: calc(10em + 40px);
}

.contentWithHiddenMenu{
  margin-left: 10px;
}

.menuButton{
  padding: 8px;
  border-radius: 8px;
  -webkit-user-select: none; /* Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
  display: inline-block;
}
.menuButton:hover{
  background:rgba(255, 255, 255, 0.52);
}
.menuButton:active{
  position: relative;
  top: 2px;
}

.menuH1 {
  margin-top: 8px;
}

.menuH2 {
  border-left: 1px solid rgba(0, 0, 0, 0.105);
  margin-left: 6px;
  padding-left: 8px;
}
.menuH3 {
  border-left: 1px solid rgba(0, 0, 0, 0.105);
  margin-left: 24px;
  padding-left: 8px;
}

body {
  /*background: white;*/
}

h1 {
  border-bottom: 1px solid black;
  margin-top: 2em;
}

h1 {
  background: rgba(195, 234, 255, 0.20);
  padding: 8px;
  /*border-left: 8px solid rgba(0, 0, 0, 0.297);*/
}

h1 ~ p,h2 {
  margin-left: 10px;
}

h2 {
  text-decoration-line: underline;
  background: rgba(0, 0, 0, 0.025);
  padding: 8px;
  border-left: 5px solid rgba(0, 0, 0, 0.297);
  border-right: 5px solid rgba(0, 0, 0, 0.297);
  display: inline-block;
}

h2 ~ p,h3 {
  margin-left: 30px;
}
h3 ~ p {
  margin-left: 50px;
}